//! **************************************************************************
// Written by: Map P.28xd on Tue Nov 24 11:18:38 2015
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "U16" LEVEL 1;
COMP "A<0>" LOCATE = SITE "M8" LEVEL 1;
COMP "A<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "A<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "A<3>" LOCATE = SITE "T10" LEVEL 1;
COMP "B<0>" LOCATE = SITE "T5" LEVEL 1;
COMP "B<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "B<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "B<3>" LOCATE = SITE "N8" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "U15" LEVEL 1;
SCHEMATIC END;

